@import 'constants.scss';
.app {
    margin: auto;
    text-align: center;
    display: inline-block; 
    width: 375px;
    .header {
        height: 48px;
        background: url('../assets/layout/header-mobile.png') no-repeat;

    }
    @media screen and (min-width: $tablet-break) {
        width: 768px;
            .header{ 
                background: url('../assets/layout/header-tablet.png') no-repeat;
                height: 72px;
            }
            .main {
                padding: 18px;
            }
    }
    @media screen and (min-width: $desktop-break) {
        width: 1440px;
        .header{ 
            background: url('../assets/layout/header-desktop.png') no-repeat;
        }
        .main {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            padding-top: 35px;
        }
    }
}   
