@import 'constants.scss';

.ship-container {
    text-align: left;
    //width: 500px;
    padding-top: 14px;
    background-color: #fff;
    @media screen and (min-width: $tablet-break ){
        //display: inline-block;
        width: 450px;
        padding-left: 17px;
        padding-top: 0;
    }
    @media screen and (min-width: $desktop-break) {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
